DB_HOST=db
DB_PORT=3306
DB_USER=change-me
DB_PASSWORD=change-me
DB_NAME=sns
FRONTEND_URL=https://snooze.page

S3_ACCOUNT_ID=change-me
S3_ACCESS_KEY_ID=change-me
S3_ACCESS_KEY_SECRET=change-me
S3_ENDPOINT=change-me
S3_RESOURCE_URL=change-me
S3_BUCKET_NAME=change-me
